* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto Slab", serif;
  --bg-color: #454545;
  --para-color: #fff;
  --head-color: #df4a1c;
  --border-color: #970cf5;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg-color);
  background-color: var(--bg-color);
  color: var(--para-color);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--head-color);
}

p {
  font-family: "Poppins", sans-serif;
  color: var(--para-color);
  /* padding: 1.2rem 0; */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--para-color);
}

.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-five--cols {
  grid-template-columns: repeat(5, 1fr);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.para {
  padding: 2.4rem 0;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.title {
  font-size: 1.8rem;
}

.main-btn {
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  border: none;
  outline: none;
  border: 1px solid var(--para-color);
  background: var(--head-color);
  background-color: var(--head-color);
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.main-btn:hover {
  background: #f83e05;
  background-color: #f83e05;
}

.cart-btn {
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  background: var(--head-color);
  background-color: var(--head-color);
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.4rem;
  z-index: 1000;
  background: #000;
  background-color: #000;
  box-shadow: var(--para-color) 0px 1.5rem 1.5rem -1.5rem;
}

.header-grid {
  height: 6.4rem;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
}

nav ul {
  padding: 0 2.4rem;
  display: flex;
  justify-content: flex-end;
  gap: 2.4rem;
}

li a {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.main-section {
  width: 100%;
  height: 97vh;
  /* margin-top: 20rem; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  background-image: url("./Images/back1.jpg");
  background-position: center;
  background-size: cover;

  .hero-heahing {
    font-size: 6.4rem;
    font-weight: 900;
    -webkit-text-stroke: 0.5px var(--para-color);
  }
}

.order-section {
  width: 100%;
  /* height: 90vh; */
  margin: 5rem 0 3rem 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  /* background-image: url("./Images/back1.jpg");
  background-position: center;
  background-size: cover;
  filter: blur(8px);  */

  .para {
    font-size: 2.4rem;
    font-weight: 800;
  }

  p {
    letter-spacing: 0.1rem;
  }

  .grid {
    gap: 2rem 2.4rem;
  }

  .pizza-card {
    width: 25rem;
    max-width: 25rem;
    position: relative;
    padding: 1.2rem;
    text-align: left;
    border: 1px solid var(--para-color);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .main-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .pizza-info {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0;
  }

  .pizza-category {
    display: flex;
    align-items: start;

    p {
      display: flex;
      align-items: center;
      color: var(--para-color);
    }
  }

  .cart-bttn {
    display: flex;
    text-align: center;
  }

  .title {
    padding-top: 0.5rem;
    color: var(--para-color);
    font-weight: 400;
    display: flex;
    align-items: start;
  }

  .error-message {
    margin-top: 2rem;
    font-size: 1.4rem;
    border: 1px solid var(--head-color);
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
  }

  .btn {
    margin: 2.4rem 0;
  }

  .container {
    position: relative;
    /* width: 100%;
    height: 100vh; */
  }

  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./Images/back1.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(12px);
    z-index: -1;
    -webkit-filter: blur(12px);
  }
}

.thanks-section {
  width: 100%;
  height: 97vh;
  /* margin-top: 5rem; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  background-image: url("./Images/back1.jpg");
  background-position: center;
  background-size: cover;

  .para {
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--para-color);
  }

  .title {
    background: #4565cf;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .subtitle {
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }

  .back-btn {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.4rem;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 1000;
  background: #000;
  background-color: #000;
  box-shadow: var(--para-color) 0px 1.5rem 1.5rem -1.5rem;
  display: flex;
  align-items: center;
  text-align: center;

  p {
    font-size: 1.2rem;
    color: #929292;
  }
}

@media (max-width: 48rem) {
  html {
    font-size: 56.25%;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .nocart-right {
    display: none;
  }
}

.cart-section {
  width: 100%;
  height: auto;
  margin-top: 10rem;
  margin-bottom: 3rem;

  display: flex;
  justify-content: space-between;
}

.cart-left {
  width: 100%;
  height: auto;
}

.cart-right {
  width: 35%;
  height: auto;
  max-height: 24rem;
  background: #252525;
  background-color: #252525;
  border: 0.1rem solid var(--para-color);
  padding: 2.4rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.cart-head {
  padding-bottom: 1.2rem;
  color: var(--head-color);
  font-weight: bolder;
}

.name-cart {
  margin-top: -0.3rem;
  padding: 0 1rem;
  color: var(--para-color);
  font-size: 1.2rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.cart-item-image {
  width: 150px;
  height: auto;
  margin-right: 30px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.cart-item-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.cart-item-controls button {
  background-color: var(--para-color);
  border: none;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.cart-item-price {
  padding: 0 1rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

.extras {
  margin: 20px 0;
}

.extras label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.remove-item {
  text-align: left;
  background: none;
  color: var(--head-color);
  cursor: pointer;
  border: none;
}

.remove-all {
  background: none;
  color: rgb(250, 107, 107);
  cursor: pointer;
  border: none;
  text-decoration: underline;
  margin-top: 10px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.total {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.checkout-btn {
  width: 100%;
  background-color: var(--head-color);
  color: var(--para-color);
  padding: 1.5rem;
  margin-top: 2rem;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.checkout-btn:hover {
  background: #f83e05;
  background-color: #f83e05;
}

.item-quantity {
  font-size: 1.2rem;
}

.start-btn {
  width: auto;
  margin-top: 1.2rem;
  white-space: nowrap;
  position: absolute;
  display: flex;
  text-align: center;
  background-color: var(--head-color);
  color: var(--para-color);
  padding: 1.2rem 2.4rem;
  border: none;
  cursor: pointer;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.nocart-image {
  width: 150px;
  padding: 1rem 0;
}

.nocart-image-right {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  height: auto;
  margin-left: 40rem;
}
