* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto Slab", serif;
  --bg-color: #454545;
  --para-color: #fff;
  --head-color: #df4a1c;
  --border-color: #970cf5;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg-color);
  background-color: var(--bg-color);
  color: var(--para-color);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--head-color);
}

p {
  font-family: "Poppins", sans-serif;
  color: var(--para-color);
  padding: 1.2rem 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--para-color);
}

.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.para{
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
}

button{
    padding: 1.2rem 2.4rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: var(--para-color);
    border: none;
    outline: none;
    border: 1px solid var(--para-color);
    background: var(--head-color);
    background-color:var(--head-color);
    border-radius: 10rem;
    cursor: pointer;
    transition: all .3s linear;
}

button:hover{
    background: #f83e05;
    background-color: #f83e05;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.4rem;
  z-index: 1000;
  background: #000;
  background-color: #000;
  box-shadow: var(--para-color) 0px 1.5rem 1.5rem -1.5rem;
}

.header-grid {
  height: 6.4rem;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

li a {
  font-size: 1.4rem;
  display: none;
}

.main-section {
  width: 100%;
  height: 90vh;
  /* margin-top: 20rem; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  .hero-heahing {
    font-size: 6.4rem;
    font-weight: 900;
    -webkit-text-stroke: 0.5px var(--para-color);
  }
}
